<mat-card class="center-card center">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form center">
        <mat-form-field class="full-width">
          <input matInput type="email" placeholder="Email Address" [(ngModel)]="email" name="email">
        </mat-form-field>
        <br/>
        <mat-form-field class="full-width">
          <input matInput type="password"  placeholder="Password" [(ngModel)]="password" name="password" (keyup.enter)="tryLogin()">
        </mat-form-field>
        <a class="forgotten-password" (click)="forgottenPassword()">Forgotten Password?</a>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="login()" [disabled]="!allowSignIn()">Login</button>
      <button mat-button (click)="signUp()">Sign Up</button>
    </mat-card-actions>
  </mat-card>