<h2 mat-dialog-title>Connect With Others:</h2>
<mat-dialog-content>
    <form [formGroup]="followForm">
      <mat-form-field class="almost-full-width">
          <input matInput formControlName="search" placeholder="Start typing name or email...">
      </mat-form-field>
    </form>
    <div>
        <div *ngIf="loading" class="spinner center"></div>
        <span *ngIf="noResults()">
          No results found.
        </span>
        <div *ngIf="!loading && searchList.length == 0" style="height:40px"></div>
        <div class="list-item" *ngFor="let searchItem of searchList" (click)="followWithEmail(searchItem)">
          {{searchItem.name}}
          <div class="email-item">{{searchItem.userName}}</div>
          <hr/>
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="done()">Done</button>
</mat-dialog-actions>
